@import url('../../index.scss');

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;

  .home-container {
    height: 50vh;
    width: 150vh;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000000ad;
    border: solid var(--Red) 2px;
    border-radius: 30px;
    box-shadow: 0px 10px 12px rgb(0, 0, 0);

    h1 {
      font-size: 70px;
    }

    p {
      font-size: 50px;
    }
  }

  .quadrados-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    .grupo-quadrados {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .quadrado {
      width: 300px;
      height: 300px;
      background-color: #000000ad;
      border: solid var(--Red) 2px;
      border-radius: 30px;
      box-shadow: 0px 10px 12px rgb(0, 0, 0);
      margin: 15px;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: transform 0.3s;
      transform: scale(1);
    }
    .quadrado:hover {
      transform: scale(1.10); 
  }
  }

  @media only screen and (max-width: 600px) {
    .home-container {
      flex-direction: column;
      margin: 20% 5% 20% 5%;
      max-height: 80vh;

      h1 {
        font-size: 50px;
        padding: 5px;
      }

      p {
        font-size: 18px;
      }
    }

    .quadrados-container {
      .grupo-quadrados {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}