.NoticeCard {
    width: 350px;
    height: 350px;
    background-color: #000000ad;
    border: solid var(--Red) 2px;
    border-radius: 30px;
    box-shadow: 0px 10px 12px rgb(0, 0, 0);
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s; 
    transform: scale(1);

    position: relative; 

    img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        object-fit: cover;
    }

    h3 {
        position: absolute; 
        bottom: 0; 
        left: 0;
        width: 100%; 
        padding: 10px; 
        color: white; 
        background-color: rgba(0, 0, 0, 0.7); 
        border-bottom-left-radius: 30px; 
        border-bottom-right-radius: 30px;
    }    

}
.NoticeCard:hover {
    transform: scale(1.10); 
}
